<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude"
	monitorInterval="60">
	<Properties>
		<Property name="log-path">../logs</Property>
		<Property name="archive">${log-path}/archive</Property>
	</Properties>
	<xi:include href="log4j2-xinclude-appenders.xml" />
	<xi:include href="log4j2-xinclude-loggers.xml" />
</Configuration>
